@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Nastaliq+Urdu&family=Poppins&family=Puritan&display=swap');

body {
  background: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0;
}

.card {
  flex: 1 0 5em;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: 2px solid rgba(95, 158, 160, 0.521);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5em 1em;
  width: 10em;
  cursor: pointer;
}

.text {
  font-family: 'Noto Nastaliq Urdu', serif;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(95, 158, 160);
}

.card img {
  width: 5em;
  height: auto;
  justify-self: left;
}
