@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Nastaliq+Urdu&family=Poppins&family=Puritan&display=swap');

body {
  background: cover;
  font-family: 'Puritan', sans-serif;
  text-align: center;
  background: url(../public/sky.png);
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.card {
  flex: 0.05;
  display: flex;
  flex-direction: column;
  background-color: rgba(156, 154, 243, 0.336);
  border: 2px solid rgba(95, 158, 160, 0.521);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5em 1em;
  justify-content: center;
  align-items: center;
  height: 14em;
}

.title {
  text-decoration: none;
  Color: #000;
}

.text {
  font-family: 'Noto Nastaliq Urdu', serif;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(95, 158, 160);
}

.card img {
  width: auto;
  height: auto;
  justify-self: left;
}

/* Basic Button Styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #fff;
  color: #2980b9;
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.9) rotate(360deg);
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.5s ease;
}

.details {
  width: 20em;
  margin: 0 auto;
  padding: 1em;
  background-color: rgba(156, 154, 243, 0.336);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  border: 2px solid rgba(95, 158, 160, 0.521);
}

.back {
  font-size: 3em;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.back:hover {
  color: #2980b9;
  transform: scale(0.95);
}

.back:active {
  transform: scale(1);
}

.time {
  color: coral;
  font-family: cursive;
  font-weight: 100;
}

.search {
  border: 2px solid rgba(95, 158, 160, 0.521);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5em 1em;
  margin: 0 auto;
  width: 20em;
  height: 1em;
  display: flex;
  background-color: transparent;
}
